body {
    background-color: rgb(71, 70, 70);
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#innerContainer {
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 90vh;
    min-height: 480px;
    aspect-ratio: 9 / 17;
    border-radius: 2.5em;
    /* padding-bottom: 4%; */
}

#display{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    min-height: 25%;
    flex-grow: 1;
    font-size: 3.5em;
    padding-right: 9%;
    padding-left: 9%;
    font-family: sans-serif; 
}

/* To set proper position of numbers inside display*/
#display div {
    flex: 1 1 0;
    text-align: end;
}

#buttonsContainer {
    /* flex-grow: 2; */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3%;
    padding: 10px;
    max-height: 70%;
}

#bottomSpace {
    min-height: 5%;
}

#buttonsContainer div {
    box-sizing: border-box;
    padding-top: 1.5%;        /*To correctly center buttons content */
    flex: 1 1 18%;
    max-height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    font-size: 2.5rem;  
    font-family: sans-serif; 
    font-weight: bold;
}

.numbers {
    background-color: rgb(52, 52, 52);
    color: white;
}

.modifiers {
    background-color: rgb(165, 165, 165);
    color: black;
}

.operations {
    background-color: rgb(255, 149, 0);
    color: white;
}

.operations.selected {
    background-color: white;
    color: rgb(255, 149, 0);
}

#buttonsContainer #btnZero {
   display: flex;
   max-width: 47%;
   aspect-ratio: 1 / 0.3;
   justify-content: flex-start;
   align-items: center;
   box-sizing: border-box;
}

/* Code below to correctly center 0 dial*/
#buttonsContainer #btnZero #dialZero {      
    flex: 1 1 0;
    min-width: 48%;
    aspect-ratio: 1 / 0.3;

}
